- title("#{@task.title} - lgd.pub")
- head_desc("#{@task.subtitle} - 辽工大生活服务社区，发布与领取任务，享受便利大学生活！")
- keywords("辽工大,辽宁工程技术大学,lgd.pub,lgdpub")

- if @task.task_type == 1 || @task.task_type == 2
  = render partial: "show_1v1"
- if @task.task_type == 3 || @task.task_type == 4 || @task.task_type == 99
  = render partial: "show_1vn"

