- title("任务已取消 - lgd.pub")
- head_desc("任务已取消，辽工大生活服务社区，发布与领取任务，享受便利大学生活！")
- keywords("辽工大,辽宁工程技术大学,lgd.pub,lgdpub")

.my-container.mt-2
  %p.h5.text-center{style: "padding:1rem;"} 任务已被发布者删除...
  %p.h5.text-center
    %a{href: "javascript:;",onclick: "history.back(-1);"} 
      %u 返回
