- title("更新密码")
- head_desc("")
- keywords("")

.my-container.mt-2
  .header 
    %p 重置密码
  .container
    .columns
      .col-9.col-mx-auto
        = form_tag("/zqaccount/password_new", method: "post", onsubmit: "return sign_up();") do 
          %input#in_code_confirm.form-input{type: "hidden"}
          %input#in_phone.form-input{type: "text", placeholder: "手机号", name: "phone", value: "#{@account.phone}", readonly: ""}
          %p#in_phone_p.form-input-hint.hide
          .m-2
          %input#in_password.form-input{type: "password", placeholder: "新密码 - 6至12位", name: "password"}
          %p#in_password_p.form-input-hint.hide
          .m-2
          %input#in_password_confirm.form-input{type: "password", placeholder: "新密码确认"}
          %p#in_password_confirm_p.form-input-hint.hide
          .columns
            .col-7.m-2
              %input#in_code.form-input{type: "text", placeholder: "验证码"}
              %p#in_code_p.form-input-hint.hide
            .col-4.text-center.mt-2{style: "height:36px;"}
              %span#send_code
                %a{href: "javascript:;", onclick: "send_check_code_666('in_phone');"}
                  %u{style: "line-height:36px;"} 获取验证码
              %span#sending_code.hide.text-gray{style: "line-height:36px;"}
                重新获取
          #message.has-error{class: "#{@message.empty? ? 'hide' : ''}"}
            %p.form-input-hint #{@message}
          .m-2
          %input.col-12.btn.btn-primary{type: "submit",value: "重置密码"}
