- title("辽工大生活服务社区 - lgd.pub")
- head_desc("辽工大生活服务社区，发布与领取任务，享受便利大学生活！")
- keywords("辽工大,辽宁工程技术大学,lgd.pub,lgdpub")

.my-container.mt-2
  .header 
    %p LGD.PUB - 网站介绍
  .container
    .columns
      .col-11.col-mx-auto
        %p 
          本网站
          %a{href: "/"} 
            %u lgd.pub
          ，专门为辽宁工程技术大学（葫芦岛校区）的同学们设计并提供服务。 
        %p lgd.pub 意在为同学们搭建一个相互提供便利的平台，让大家的学习与生活更方便、更容易。

        %p 
          目前已经上线了
          %a{href: "/task/"} 
            %u 任务大厅
          ，在其中，大家可以发布和领取任务 - 享受便利的生活 或 帮助他人并赚些生活费。

        %p 
          在使用的过程中，有任何意见和建议
          %a{href: "/feedback/"}
            %u 反馈
          给我们,或加入反馈qq群 930368636
        %p.text-center
          %a{href: "//shang.qq.com/wpa/qunwpa?idkey=6ebd7b5913a72d98493ea9789dc47be587834519247854c1b31dfcb3788d9a75", target: "_blank"}
            %img{src: "//pub.idqqimg.com/wpa/images/group.png"}
        %p 
          如果想加入我们，一起发展lgd.pub，请把自己的想法和联系方式发送邮件至
          %b lmcvancl1@163.com


