- title("辽工大生活服务社区")
- head_desc("辽工大生活服务社区，发布与领取任务，享受便利大学生活！")
- keywords("辽工大,辽宁工程技术大学,lgd.pub,lgdpub")

.my-container.mt-2
  .header 
    %p 辽工大社区
  .container
    .columns
      .col-11.col-mx-auto
        %p{style: "text-align:center;"} 辽工大微信小程序上线啦~
        %img{src: "/img/lgd_xcx.jpeg", width: "100%;"}


