/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  background-color: #F7F7F7;
  max-width: 750px;
  min-height: 100%;
  margin: 0 auto;
}
header{
  background-color: #fff;
  height: 2.5rem;
}
footer{
  background-color: #fff;
  width: 96%;
  padding: 0 0 .8rem 0;
  margin: 0 2%;
}
.nav-tab-footer{
  border-top: solid 1px #eee;
  position: fixed;
  zoom: 1;
  z-index: 110;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
}
.nav-tab-footer a{
  color: #666;
  text-align: center;
  font-size: 12px;
  padding: 3px 0 2px;
  position: relative;
  z-index: 1;
  zoom: 1;
  line-height: 20px;
  width: 25%;
  float: left;
  cursor: pointer;
}
.nav-tab-footer a.active{
  color: #5755d9;
  text-decoration: none;
}
.nav-tab-footer a .iconfont{
  display: block;
  color: #666;
  font-size: 24px;
}
.nav-tab-footer a .iconfont img{
  width: auto;
  height: 24px;
  display: block;
  margin: auto;
}

.hide{
  display: none;
}
.form-input-hint{
  padding: .2rem 0 0 .2rem;
  margin: 0;
}
.form-label{
  padding: .2rem .4rem;
}
.my-container{
  background-color: #fff;
  width: 96%;
  padding: 0 0 .8rem 0;
  margin: 0 2%;
}
.my-container .header{
  background-color: #fff;
  text-align:center;
  line-height: 2rem;
  height: 2rem;
  margin-bottom: .8rem;
  border-bottom: 1px solid #e7e9ed;
}
.form-input{
  border-radius: 0.25rem;
}
.form-select{
  border-radius: 0.25rem;
}
.btn{
  border-radius: 0.25rem;
}
.task-filter .filter-nav{
  width: 96%;
  padding: 0;
  margin: .4rem 2%;
}
.filter-nav.task{
  background-color: #fff;
  border-bottom: 1px solid #eee;
  margin: 0 auto;
  padding: .4rem;
  width: 100%;
  text-align: center;
}
.filter-nav.task.fixed{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
.filter-item.task{
  width: 100%;
}
.task-list{
  background-color: #fff;
  width: 96%;
  padding: 0;
  margin: .4rem 2%;
}
.task-list .task-item{
  border-bottom: .2rem solid #F7F7F7;
  height: 124px;
}
.task-list .task-item img{
  border-radius: 5px;
  margin:5px;
  height:110px;
  width: 110px;
  float: left;
}
.task-list .task-item i{
  float: right;
  height: 0;
  position: relative;
  top: 58px;
  margin-right: 5px;
}
.task-list .task-item .header{
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  margin: 0 20px 0 125px;
}
.task-list .task-item .detail{
  font-size: 14px;
  line-height: 30px;
  height: 60px;
  margin: 0 20px 0 125px;
  overflow: hidden;
}
.task-list .task-item .time{
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  margin: 0 20px 0 125px;
}
#preview .si img{
  width: 100%;
}
.panel-header{
  border-bottom: 10px solid #F7F7F7;
}
.panel-nav{
  border-top: 10px solid #F7F7F7;
}
.setting{
  width: 100%;
  border-bottom: 1px solid #F7F7F7;
  height: 48px;
  line-height: 48px;
  padding-left: 10px;
}
