%header.navbar
  %section.navbar-section
    %a.navbar-brand.ml-2{href: "/"} LGD.PUB
    .mr-2
    %a.btn.btn-link{href: "/task/"} 大厅
    %a.btn.btn-link{href: "/task/create/"} 发布
  %section.navbar-section
    - if @account
      %a{href: "/account/my/",style: "margin-right:20px;"}
        - if @account.detail.nil?
          %figure.avatar.avatar-sm{style: "background-color: #5755d9;", data:{initial: "LGD"}}
        - elsif !@account.detail.avatar.nil? && !@account.detail.avatar.empty?
          %figure.avatar.avatar-sm{style: "background-image: url('#{@account.detail.avatar}?x-oss-process=image/resize,m_fill,h_24,w_24');"}
        - elsif !@account.detail.user_name.nil? && !@account.detail.user_name.empty?
          %figure.avatar.avatar-sm{style: "background-color: #5755d9;", data:{initial: "#{@account.detail.user_name[0]}"}}
        - else
          %figure.avatar.avatar-sm{style: "background-color: #5755d9;", data:{initial: "LGD"}}
    - else
      %a.btn.btn-link{href: "/account/sign_in/"} 登录
      %a.btn.btn-link{href: "/account/sign_up/"} 注册
